@font-face {
    font-family: 'Garamond Premier Pro';
    src: url('../fonts/GaramondPremrPro-BdIt.eot');
    src: url('../fonts/GaramondPremrPro-BdIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GaramondPremrPro-BdIt.woff2') format('woff2'),
        url('../fonts/GaramondPremrPro-BdIt.woff') format('woff'),
        url('../fonts/GaramondPremrPro-BdIt.ttf') format('truetype'),
        url('../fonts/GaramondPremrPro-BdIt.svg#GaramondPremrPro-BdIt') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

